
@font-face {
    font-weight: 400;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf"); 
}

@font-face {
    font-weight: 700;
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf"); 
}

body {
    font-family: "Poppins";

}

.flex-container-nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    list-style-type: none;
    gap: 76px;

    margin-top: 45px;
}

.flex {
    display: flex;
    align-items: center;
}

.Heading-2 {
    width: 251px;
    height: 72px;

    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    padding-right: 165px;

    color: #0E0578;
}

li .flex{
    list-style-type: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-decoration: none;

    color:#686565;
}               


.nav-section-1 {
    width: 143px;
    height: 45px;
}

.nav-section-2 {
    width: 119px;
    height: 45px;
}

.nav-section-3 {
    width: 138px;
    height: 45px;
}

.nav-section-4 {
    width: 111px;
    height: 45px;
    padding-right: 130px;

}