
@font-face {
    font-weight: 400;
    font-family: Poppins;
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") /*попробовал прописать путь относительно файла*/
}

@font-face {
    font-weight: 700;
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf"); /*попробовал прописать путь относительно корня*/
}

@font-face {
    font-weight: 400;
    font-family: Jost;
    src: url("../../assets/fonts/Jost/Jost-Regular.ttf"); 
}

@font-face {
    font-weight: 700;
    font-family: Jost;
    src: url("/assets/fonts/Jost/Jost-Bold.ttf"); 
}

html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

}
body {
    font-family: Poppins;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.flex {
    display: flex;
}

.container-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    margin-top: 45px;
}

.Logo {
    width: 251px;
    height: 3rem;

    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;

    color: #0E0578;
}

.white-box-for-horizontal-alignment {
    width: 3rem;
    height: 45px;
}

 li .flex{
    list-style-type: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-decoration: none;

    color:#686565;
}               
.nav-section-1 {
    width: 143px;
    height: 45px;
}

.nav-section-2 {
    width: 119px;
    height: 45px;
}

.nav-section-3 {
    width: 138px;
    height: 45px;
}

.nav-section-4 {
    width: 111px;
    height: 45px;
    margin-right: 130px;
}

.first-page {
    margin-top: 171px; /*align the section vertically*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-first-page {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 78px;
}

.container-first-page-image {
    flex-direction: column;
    align-items: flex-end;
    width: 616px;
}
.subtitle-first-page {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;

    color: #2000E7;

    width: 372px;
    height: 45px;

    margin-bottom: 0;
}

.title-first-page {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;

    color: #2000E7;

    width: 447px;
    height: 144px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
}

span {
    position: absolute;
    color: #F2BD00;
    left: 152px;
    top: 3rem;
}
.paragraph-first-page {
    width: 616px;
    height: 72px;
    margin-top: 21px;
    margin-bottom: 111px;
}

.button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    padding: 12px 16px;
    border-radius: 10px;
    width: 246px;
    height: 72px;
}

.button:hover {
    box-shadow: 11px 21px 15px 6px #00000040;
  }
  button[blue-button]:active {       /*I Try applying attributes*/
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.815);
  }
  button[blue-button] {
    background-color: #2000E7;
    color: #FFFFFF;
    margin-right: 79px;
  }
  button[grey-button]:active {
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  button[grey-button] {
    border: 2px solid #2000E7;
    background: #FFFFFF;
    color: #2000E7;
  }

  .container-first-page-image {
    box-sizing: content-box;
    white-space: nowrap;

  }

